@media only screen and (max-width: 992px) {
  .projects__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .projects__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .projects__cards {
    grid-template-columns: 1fr;
  }
}
