@import "../../utils/colors.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > p {
    font-size: 24px;

    > a {
      color: $blue;
      text-decoration: none;
    }
  }
}
