@import "../../utils/colors.scss";

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px - 20px - 20px);

  > * {
    width: 100%;

    > b {
      font-weight: 600;
    }
  }

  > .title {
    font-size: 26px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid mix($white, transparent, 50%);

    > b {
      font-weight: 700;
    }

    > span.is__open__source {
      border-radius: 30px;
      border: 1px solid $green;
      color: $green;
      padding: 1px 5px;
      font-size: 14px;

      &.no {
        color: $red;
        font-weight: 600;
        border-color: $red;
      }
    }
  }

  > .content {
    font-size: 18px;
    padding: 20px 0;

    > * {
      margin-top: 10px;
    }

    > .stack {
      display: flex;
      gap: 5px;

      > *:not(b) {
        position: relative;
        border: 1px solid white;
        border-radius: 30px;
        padding: 1px 6px 1px 14px;
        font-size: 14px;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          width: 7px;
          height: 7px;
          background-color: #fff;
          border-radius: 50%;
        }
      }

      @import "../../components/ProjectCard/ProjectCardStackColors.scss";
    }
  }

  > .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 18px;

    > .links__code,
    > .links__project {
      display: flex;
    }

    > .links__code {
      justify-content: right;
    }

    > .links__project {
      justify-content: left;
    }

    a {
      $link-color: mix($blue, white, 80%);

      text-decoration: none;
      border: 1px solid $link-color;
      padding: 6px 12px;
      border-radius: 6px;
      color: $link-color;

      &.innactive {
        filter: grayscale(1);
      }
    }
  }
}
